<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css')}}">
</head>
<body>
    <h2>Quais filmes eles não apareceram</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>Luke Skywalker</td>
                <td>C3-PO</td>
                <td>R2-D2</td>
                <td>Darth Vader</td>
            </tr>
        </tbody>
    </table>
</body>
</html>